*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;

    // min-height: 100vh;
}

a {
    text-decoration: none;
}

li,ul {
    list-style-type: none;
} 